@{
    Layout = "~/Views/Shared/Inner_master.cshtml";
    ViewBag.Title = "Контакты компании Netping";
}

@section Head_Css {
    <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" /> 
    <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
}


@using NetPing.Helpers

@section Content_left {
    <h1>@ViewBag.Contacts.Tag.Name</h1>
    @Html.Raw(ViewBag.Contacts.Text)

    <h1>@ViewBag.BankDetails.Tag.Name</h1>
    @Html.Raw(ViewBag.BankDetails.Text)

    <h1>@ViewBag.OfficeAddress.Tag.Name</h1>
    @Html.Raw(ViewBag.OfficeAddress.Text)

  
}
