@{
    Layout = "~/Views/Shared/Inner_master.cshtml";
    ViewBag.Title = "Устройство";
}

@section Head_Css {
    <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" /> 
    <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
    
     }


@using NetPing.Models

@model Device

@section Content {

    <!-- N1 -->
    N1 Главная > @ViewBag.grp_name >  @Model.Name.Name
    <br/>
    <!-- ** N1 ** -->

    <!-- N2 -->
    N2 @Model.Name.Name
    <br />
    <!-- ** N2 ** -->

    <!-- N3 -->
    N3 @Model.Label.Name
    <br />
    <!-- ** N3 ** -->

    <!-- N4 -->
    N4 @Html.Raw(Model.Long_description)
    <br />
    <!-- ** N4 ** -->

    <!-- N5 -->
    N5
    <p> @Model.DevicePhotos.FirstOrDefault(p => !p.IsBig && p.IsCover).Url </p>
    @foreach (NetPing.Models.DevicePhoto photo in Model.DevicePhotos.Where(p => !p.IsBig && !p.IsCover))
    {
        <p> @photo.Url </p>
    }

    <br />
    <!-- ** N5 ** -->

    <!-- N6 -->
    N6
    @{
    var user_guides = Model.SFiles.Where(fl => fl.File_type.OwnNameFromPath == "User guide");
    foreach (var file in user_guides)
    {
     <p> <a target="_blank" href="@file.Url">@file.Name</a> - @file.File_type.Name</p>
    }
        
    }
    <br />
    <!-- ** N6 ** -->


    <!-- N7 -->
    N7 @Model.Russian_price
    <br />
    <!-- ** N7 ** -->

    <!-- N8 -->
    N8
    @foreach (NetPing.Models.Device dev in ViewBag.Connected_devices_accessuars)
    {   
        <a href="~/product_item?id=@dev.Key">@dev.Name.Name</a>
        <p>@string.Format("http://office.alentis.ru/web/catalog/SPhoto/{0}_small.png", @dev.Key);</p>
        <br />
    }
    <br />
    <!-- ** N8 ** -->

    <!-- N9 -->
    N9
    @foreach (NetPing.Models.Device dev in ViewBag.Connected_devices_sensors)
    {
        <a href="~/product_item?id=@dev.Key">@dev.Name.Name</a>
        <p>@string.Format("http://office.alentis.ru/web/catalog/SPhoto/{0}_small.png", @dev.Key);</p>
        <br />
    }
    <br />
    <!-- ** N9 ** -->

    <!-- N10 -->
    N10

    @{
        if (Model.DeviceParameters.Count != 0)
        {
            <h1>Параметры устройства</h1>

            foreach (var grp in ViewBag.Parameter_groups)
            {
                var parameters = Model.DeviceParameters.Where(par => par.Name.Path.Contains(grp.OwnNameFromPath));
                if (parameters.Any())
                {
                    <p>@grp.Name.Substring(2)</p>
                }
                <div>
                <ul>
                    @foreach (var par in parameters.ToList())
                    {
                        <li>@par.Name.Name   <b> @par.Value </b> </li>
                    }
                </ul>
                </div>
            }
        }
    }
    <br />
    <!-- ** N10 ** -->

    <!-- N11 -->
    N11
    @{
        var files = Model.SFiles;
        foreach (var file in files)
        {
            <p> <a target="_blank" href="@file.Url">@file.Name</a> - @file.File_type.Name</p>
        }
    }
    <br />
    <!-- ** N11 ** -->

    <!-- N12 -->
    N12

    @{
    var posts_faq = Model.Posts.Where(pst => pst.Cathegory == "FAQ");
    <p> Ответы на вопросы</p>
    <div >
    @foreach (var post in posts_faq)
    {
        <p>
            <a href="@string.Format("/view.aspx?id={0}", @post.Id)">@post.Title</a>
        </p>
    }
    </div>
    }

    <br />
    <!-- ** N12 ** -->

    <!-- N13 -->
    N13
    @{
     var post_solutions = Model.Posts.Where(pst => pst.Cathegory == "Typical solution");
     <p>Примеры применения</p>
     <div >
     @foreach (var post in post_solutions)
        {
            <p>
            <a href="@string.Format("/view.aspx?id={0}", @post.Id)">@post.Title</a>
            </p>
        }
    </div>
    }
    <br />
    <!-- ** N13 ** -->


}

