@using NetpingHelpers
@{
    Layout = null;
}
@using NetPing_modern.Resources.Views.Shared

@if (NetpingHelpers.Helpers.IsCultureRus)
{
    <!-- Yandex.Metrika counter -->
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
    <script type="text/javascript">
        try {
            var yaCounter169532 = new Ya.Metrika({
                id: 169532,
                webvisor: true,
                clickmap: true
            });
        } catch (e) { }
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/169532" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
}
@if (NetpingHelpers.Helpers.IsCultureEng)
{
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter25270505 = new Ya.Metrika({
                        id: 25270505,
                        webvisor: true,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/25270505" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
}

<div class="header contacts row">

    <div class="header_contacts clearfix">
        <div class="col-sm-5 col-md-4 col-lg-3 header_contacts_item">
            <div class="header_contacts_title">
                <!--<a href="/zakaz.aspx">@Header.Header_to_buy </a>-->
                @Header.Header_to_buy
            </div>
            <div class="header_content_border">
            </div>
            <div class="header_contacts_content">
                <span>@Header.Phone:</span>@Header.Header_phone<br />
                <span>e-mail:</span><a href="mailto:@Header.Header_email_sales">@Header.Header_email_sales</a>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 @(NetpingHelpers.Helpers.IsCultureEng ? "pull-right" : "") header_contacts_item">
            <div class="header_contacts_title">
                <!--<a href="/zakaz.aspx">@Header.Header_ask</a>-->
                @Header.Header_ask
            </div>
            <div class="header_content_border">
            </div>
            <div class="header_contacts_content">
                <span>@Header.Phone:</span>@Header.Header_phone<br />
                <span>e-mail:</span><a href="mailto:@Header.Header_email_support">@Header.Header_email_support</a>
            </div>
        </div>


        @if (!NetpingHelpers.Helpers.IsCultureEng)
        {
            <div class="col-md-4 cart">
                <span class="cart-icon"></span><span class="cart-text"> @Header.Header_goods_in_basket</span><span class="cart-count">0</span>
            </div>
        }
    </div>

</div>
<div class="header main-header-wrapper row">

    <div class="main-header clearfix">

        <div class="logo-wrapper col-md-12 col-lg-5">
            <a class="logo" href="/">
                <img src="~/Content/Images/logo_text.png" alt="Netping logo" />
            </a>
            <div class="logo-text">
                @Header.Logo_Title
            </div>
        </div>
        <div class="nav col-xs-8  col-lg-5">
            <ul>
                <li class="nav_li">
                    <a class="@(Request.RawUrl.ToLower().Contains("/products") == true ? "nav_element active" : "nav_element")" href="/products/monitoring-servernoj">@Header.Products</a>
                    <div class="nav_element_border"></div>
                    <div class="abs">
                        <ul class="down_list">
                            <li class="item_list"><a href="/solutions/kommutatory-ethernet/re6enija-na-osnove-POE">@Header.Ready_solutions</a></li>
                            <li class="item_list"><a href="/products/monitoring-servernoj">@Header.Category_monitoring</a></li>
                            <li class="item_list"><a href="/products/upravljaemye-rozetki-ip-pdu">@Header.Category_power_control</a></li>
                            <li class="item_list"><a href="/products/kommutatory-ethernet">@Header.Category_switch</a></li>
                            <li class="item_list"><a href="/products/monitoring-servernoj/sensors">@Header.Category_sensors</a></li>
                            <li class="item_list"><a href="/products/monitoring-servernoj/accessories">@Header.Category_access</a></li>
                            <li class="item_list"><a href="/dev">@Header.Dev</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav_li">
                    <a class="@(Request.RawUrl.ToLower().Contains("/buy") == true ? "nav_element active" : "nav_element")" href="/buy"><b>@Header.Menu_buy</b></a>
                    <div class="nav_element_border"></div>
                    <div class="abs">
                        <ul class="down_list">
                            <li class="item_list"><a href="/buy">@Header.Menu_buy_directly</a></li>
                            <li class="item_list"><a href="/buy/dealers">@Header.Menu_buy_partners</a></li>
                            <li class="item_list"><a href="/buy/partnership-how-to">@Header.Menu_buy_partner_howto</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav_li">
                    <a class="@(Request.RawUrl.ToLower().Contains("/about") == true ? "nav_element active" : "nav_element")" href="/about">@Header.Menu_about</a>
                    <div class="nav_element_border"></div>
                    <div class="abs">
                        <ul class="down_list">
                            <li class="item_list"><a href="/contacts">@Header.Menu_contacts</a></li>
                            <li class="item_list"><a href="/Blog/Category/News">@Header.Menu_news</a></li>
                            @if (!NetpingHelpers.Helpers.IsCultureEng)
                            {
                                <li class="item_list"><a href="/vacancy">@Header.Menu_vacancy</a></li> }
                        </ul>
                    </div>
                </li>

                <!--
                <li class="nav_li">
                    <a class=@(Request.RawUrl.ToLower().Contains("/contacts") == true ? "nav_element active" : "nav_element") href="/contacts">@Header.Menu_contacts</a>
                    <div class="nav_element_border"></div>
                </li>
                    -->
                <li class="nav_li">
                    <a class="@(Request.RawUrl.ToLower().Contains("/support") == true ? "nav_element active" : "nav_element")" href="/support">@Header.Menu_support</a>
                    <div class="nav_element_border"></div>
                    <div class="abs">
                        <ul class="down_list">
                            <li class="item_list"><a href="/Blog/Category/FAQ">@Header.Menu_faq</a></li>
                            <li class="item_list"><a href="/Blog/Category/Tutorial">@Header.Menu_solutions</a></li>
                            @if (!NetpingHelpers.Helpers.IsCultureEng)
                            {
                                <li class="item_list"><a href="http://ideas.netping.ru/forums/213180-ideas" target="_blank">Предложите новую идею для Netping!</a></li>
                            }
                            @*<li><div class="clear"></div></li>*@
                        </ul>
                    </div>
                </li>
                <li class="nav_li">
                    <a class="@(Request.RawUrl.ToLower().Contains("/Blog") == true ? "nav_element active" : "nav_element")" href="/Blog">@Header.Menu_blog</a>
                    <div class="nav_element_border"></div>
                </li>



            </ul>

        </div>
        <form class="search" name="search" action="http://www.google.com/cse" target="_blank">
            <div class="search col-xs-4 col-lg-2">
                <input type="text" placeholder="Поиск по сайту" name="q" />
                <input type="hidden" name="cx" value="006534849235046585456:eqktuqsoi58" />
                <input name="ie" type="hidden" value="UTF-8" />
                <input type="submit" value="Найти" />
            </div>
        </form>
</div>
    <div class="clear"></div>
</div>