@using NetPing_modern.Resources.Views.Shared
@{
    Layout = null;
}


<script src="~/Content/JavaScript/jquery.cookies.2.2.0.min.js" type="text/javascript"> </script>
<script src="~/Content/JavaScript/res.js" type="text/javascript"></script>
<script type="text/javascript">
    Res.init({
        'OrderSent': '@Cart.OrderSent',
        'OrderErrorMessage': '@Cart.OrderErrorMessage'
    });
</script>
<script src="~/Content/JavaScript/cart.js" type="text/javascript"> </script>

<div style="display: none">
    <div class="shopPopupItem" id="cartItemTemplate">
        <p class="hiddenID"></p>
        <table>
            <tr>
                <td><img class="shopPopupItemImg" src="#" alt="" /></td>
                <td><a href="#" class="shopItemName"></a></td>
                <td><span class="cart-item-counter-control remove-one">-</span><input type="text" class="shopItemCount counter"><span class="cart-item-counter-control add-one">+</span></td>
                <td><span class="shopItemPrice"></span> @Cart.Currency</td>
                <td><span class="shopItemPriceSum"></span> @Cart.Currency</td>
                <td><button class="remove"><span class="remove-icon"></span></button></td>
            </tr>
        </table>

    </div>
</div>

<div class="overlayCart" style="display:none;"></div>
<div id="cartPopup">
    <input type="button" class="btn btn-info remove left" id="backCartButton" value="@Cart.Back" style="display: none;" />
    <input type="button" class="btn btn-primary accept right" id="continueCartButton" value="@Cart.Checkout" />
    <input type="button" class="btn btn-info accept left" id="closeCartButton" value="@Cart.ContinueShopping" />
    <div class="clear"></div>
    <div id="cartCost"><span class="subtotal">@Cart.Subtotal</span> <span id="cartCostValue"> </span>@Cart.Currency</div>
    <div class="clear"></div>
    <hr />
    <div id="cartAbout" class="k1">
        <div id="userInfo">
            <h2>@Cart.OrderData</h2>
            <input type="text" id="FIOK" placeholder="@Cart.FullName" />
            <input type="text" id="emailK" placeholder="@Cart.EMail" />
            <textarea id="commentK" placeholder="@Cart.Comment"></textarea>
            @*<input type="text" id="addressK" placeholder="@Cart.ShippingAddress" />
            <input type="text" id="phone" placeholder="@Cart.Phone" />
            <input type="text" id="requisites" placeholder="@Cart.InvoiceDetails" />*@
            <div class="clear"></div>
            @*<h2>@Cart.DeliveryMethod</h2>
            <label><input type="radio" value="ЕМС Почта России" name="shipping" checked="checked" />@Cart.EMSRussianPost</label>
            <label><input type="radio" value="Гарантпост" name="shipping" />@Cart.GarantPost</label>
            <label><input type="radio" value="Самовывоз" name="shipping" />@Cart.SelfDelivery</label>*@
            <input type="button" class="btn btn-primary accept right" id="sendDataCartButton" value="@Cart.Done" style="display: none;" />
        </div>
    </div>
    <div id="cartItems" class="k1"></div>
</div>

