@using NetPing_modern.Resources.Views.Shared
@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/Content/Themes/cart.css">
<script src="~/Content/JavaScript/jquery.cookies.2.2.0.min.js" type="text/javascript"> </script>
<script src="~/Content/JavaScript/cart.js" type="text/javascript"> </script>

<div style="display: none">
    <div class="shopPopupItem" id="cartItemTemplate">
        <p class="hiddenID"></p>
        <div class="shopItemImgContainer">
            <img class="shopPopupItemImg" src="" alt="" />
        </div>
        <div class="shopItemC2">
            <p class="shopItemName"></p>
            <table>
                <tr>
                    <th>@Cart.Price</th>
                    <th>@Cart.Quantity</th>
                    <th>@Cart.TotalPrice</th>
                </tr>
                <tr>
                    <td><span class="shopItemPrice"></span> @Cart.Currency</td>
                    <td><input type="number" class="shopItemCountInput" value="" /></td>
                    <td><span class="shopItemPriceSum"></span> @Cart.Currency</td>
                </tr>
            </table>
            <input type="button" class="remove" value="@Cart.Remove" />
        </div>
    </div>
</div>
</div>

<div class="overlayCart"></div>
<div id="cartPopup">
    <input type="button" class="remove left" id="clearCartButton" value="@Cart.EmptyCart" />
    <input type="button" class="remove left" id="backCartButton" value="@Cart.Back" style="display: none;" />
    <input type="button" class="accept right" id="continueCartButton" value="@Cart.Checkout" />
    <input type="button" class="accept right" id="sendDataCartButton" value="@Cart.Done" style="display: none;" />
    <input type="button" class="accept right" id="closeCartButton" value="@Cart.ContinueShopping" />
    <div class="clear"></div>
    <div id="cartCost"><h1>@Cart.Subtotal: <div id="cartCostValue"></div> @Cart.Currency</h1></div>
    <div class="clear"></div>
    <div id="cartAbout" class="k1">
        <div id="userInfo">
            <h2>@Cart.OrderData</h2>
            <input type="text" id="FIOK" placeholder="@Cart.FullName" />
            <input type="text" id="emailK" placeholder="@Cart.EMail" />
            <input type="text" id="addressK" placeholder="@Cart.ShippingAddress" />
            <input type="text" id="phone" placeholder="@Cart.Phone" />
            <input type="text" id="requisites" placeholder="@Cart.InvoiceDetails" />
            <div class="clear"></div>
            <h2>@Cart.DeliveryMethod</h2>
            <label><input type="radio" value="ЕМС Почта России" name="shipping" checked="checked"/>@Cart.EMSRussianPost</label>
            <label><input type="radio" value="Гарантпост" name="shipping" />@Cart.GarantPost</label>
            <label><input type="radio" value="Самовывоз" name="shipping" />@Cart.SelfDelivery</label>
        </div>
    </div>
    <div id="cartItems" class="k1"></div>
</div>

