@using NetpingHelpers
@{
    Layout = null;
}
@using NetPing_modern.Resources.Views.Shared
<div class="header">

    <!--
        <ul>
            <li><a  class="language" href="#">RUS</a></li>
            <li><a class="language_active" href="#">ENG</a></li>
        </ul>
        -->
    <ul>
        <li><a class="language" href="#">RUS</a></li>
        <li><a class="language_active" href="#">ENG</a></li>
    </ul>
    <form class="search" name="search" method="post" action="">
        <div class="search_text"><input placeholder="Search..." class="search_text_vvod" size="28"></input></div>
        <input class="search_img" type="image" src="~/Content/Images/search.png"></input>
    </form>
    <div class="clear"></div>
    <a class="logo" href="/">
        <img src="~/Content/Images/logo_text.png"></img>
    </a>
    <div class="nav">
        <ul>
            <li class="nav_li">
                <a class=@(Request.RawUrl.ToLower().Contains("/catalog.aspx") == true ? "nav_element_active" : "nav_element") href="/catalog.aspx">@Header.Products</a>
                <div class="nav_element_border"></div>
                <div class="abs">
                    <ul class="down_list">
                        <li class="item_list"><a href="/catalog.aspx?id=_nping_bases" class="link_item_list">@Header.Category_monitoring</a></li>
                        <li class="item_list"><a href="/catalog.aspx?id=_nping_power" class="link_item_list">@Header.Category_power_control</a></li>
                        <li class="item_list"><a href="/catalog.aspx?id=_swtch" class="link_item_list">@Header.Category_switch</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </li>
            <li class="nav_li">
                <a class= @(Request.RawUrl.ToLower().Contains("/about.aspx") == true ? "nav_element_active" : "nav_element") href="/about.aspx">@Header.Menu_about</a>
                <div class="nav_element_border"></div>
            </li>
            <li class="nav_li">
                <a class=@(Request.RawUrl.ToLower().Contains("/dealer.aspx") == true ? "nav_element_active" : "nav_element") href="/dealer.aspx">@Header.Menu_dealers</a>
                <div class="nav_element_border"></div>
            </li>
            <li class="nav_li">
                <a class=@(Request.RawUrl.ToLower().Contains("/contacts.aspx") == true ? "nav_element_active" : "nav_element") href="/contacts.aspx">@Header.Menu_contacts</a>
                <div class="nav_element_border"></div>
            </li>
            <li class="nav_li">
                <a class="nav_element" target="_blank" href="http://ideas.netping.ru">@Header.Menu_ideas</a>
                <div class="nav_element_border"></div>
            </li>
        </ul>

    </div>
    <div class="clear"></div>
</div>