@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@ViewBag.Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" /> 
        <link href="~/Content/Themes/header-footer.css" rel="stylesheet" type="text/css" /> 

        @RenderSection("Head_Css", false)
        @RenderSection("Head", false)

    </head>

    <body>
        <div class="page">
            <div class="main">
                @RenderPage("Header.cshtml")
                @RenderSection("Under_menu", false)
    
                <!--content-->
                <div class="content">
                    @{
                        if (!IsSectionDefined("Content"))
                        {
                            <div class="content_left">
                                @RenderSection("Content_left", false)
                            </div>
                            <div class="content_right">
                                @RenderSection("Content_right", false)
                            </div>
                        }
                        else
                        {
                            @RenderSection("Content", false)
                        }
                    }
                    <div class="clear"></div>
                </div>
                <!--end content-->
                @RenderPage("Footer.cshtml")
            </div>
        </div>
    </body>
</html>