@using NetPing.Models;
@using System.Globalization
@using NetpingHelpers
@using NetPing_modern.Helpers
@using NetPing_modern.Resources.Views.Shared

@{
    Layout = null;
}


@helper GetPrice(double? price)
{
    if (price != null && price > 0)
    {
        string str = string.Format(new CultureInfo(1035), "{0:N0}", price);
        @str
    }
}


<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="robots" content="index,follow" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/header-footer.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/JavaScript/jquery1.8.3min.js" type="text/javascript"></script>
    <script src="~/Content/JavaScript/modernizr.js" type="text/javascript"></script>
    <script src="~/Content/JavaScript/main.js" type="text/javascript"></script>
    @Html.GoogleAnalytics()
    <link rel='stylesheet' type='text/css' href='~/Content/Themes/cart/cart.css'>

    @RenderSection("Head_Css", false)
    @RenderSection("Head", false)
</head>
<body>
<div class="header_background">
    <div class="header_top"></div>
    <div class="header_bottom"></div>
</div>
<div class="page">
    <div class="main">
        @RenderPage("Header.cshtml")
        @RenderSection("Under_menu", false)

        <!--content-->
        <div class="content">

            @if (!IsSectionDefined("Content"))
            {


                <div class="content_left">
                    @RenderSection("Content_left", false)
                </div>


                <div class="content_right">
                    @RenderSection("Content_right", false)

                    @*<div class="related">
                                <h2>Популярные статьи</h2>
                                <a href="#" class="rss-feed"></a>
                                <hr />
                                @foreach (var post in NetpingHelpers.Helpers.GetTopPosts())
                                {
                                    <a href="@post.Url_name" class="related-item">
                                        <h3>@post.Created.ToShortDateString()</h3>
                                        <p>
                                            @post.Title
                                        </p>
                                    </a>
                                }
                            </div>*@

                    <div class="title">
                        <div class="title_left"></div>
                        <div class="title_right">@Inner_page.Title_TopArticles</div>
                        <a href="#" class="rss-feed"></a>
                        <div class="clear"></div>
                        @foreach (var post in NetpingHelpers.Helpers.GetTopPosts())
                        {
                            <div class="content_right_item">
                                <a href="@post.Url_name" class="content_right_item_title"> @post.Title </a>
                            </div>
                        }
                    </div>


                    <div class="title">
                        <div class="title_left"></div>
                        <div class="title_right">@NetPing_modern.Resources.Other.New_models</div>
                        <div class="clear"></div>
                    </div>
                    @{foreach (Device device in NetpingHelpers.Helpers.GetNewDevices())
                      {
                          <div class="content_right_item">
                              <a class="content_right_item_title" href="@("/products/" + @device.Url)">@device.Name.Name</a>
                              <img src="@device.GetCoverPhoto(false).Url"/>
                              <div class="content_right_item_text">
                                  @Html.Raw(device.Short_description.ToShortTextHTML("/products/" + device.Url))
                                  <br/>
                                  <p>@NetPing_modern.Resources.Other.Price: <span class="content_right_price">@GetPrice(device.Price)&nbsp;@device.GetCurrency</span></p>
                              </div>
                              <div class="clear"></div>
                          </div>
                      }
                    }
                </div>
            }
            else
            {
                @RenderSection("Content", false)
            }
            <div class="clear"></div>
        </div>
        <!--end content-->
        @RenderPage("Footer.cshtml")
        @RenderPage("../Shared/cart.cshtml")

        
    </div>
</div>
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1032603565;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1032603565/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
</body>
</html>