@using Resources = NetPing_modern.Resources.Views.Blog.Main;

@model NetPing_modern.ViewModels.BlogViewModel
@{
    Layout = "~/Views/Shared/Blog_master.cshtml";
}

@section Head_Css {
    <link href="/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/blog.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Content/JavaScript/jquery.datetimepicker.js"></script>
    <script src="~/Content/JavaScript/blog.js"></script>
}

@section Content_left {
    @foreach(var post in Model.Posts)
    {

        <div class="blog-item">
            <a href="@post.Url">
                <div class="blog-item-header">
                    <div class="category-label">@post.Cathegory</div>
                    <span>@post.Created.ToShortDateString()</span>
                </div>
                <h1>
                    @post.Title
                </h1>
                @*<img src="https://netpingeastcoltd-public.sharepoint.com/Pub/Photos/Devices/_nping_bases_SMS_big.png" />*@
                <p>@Html.Raw(post.Body)</p>
            </a>
            @*<ul class="tags">
                <li class="tag">
                    NetPing
                </li>
                <li class="tag">
                    SMS
                </li>
                <li class="tag">
                    Устройство
                </li>
            </ul>*@
            <div class="clear"></div>
            <hr />
        </div>

    }
}

@section Content_right{
    <div class="article-search">
        <input type="text" placeholder="Искать статью..." />
        <input type="submit"  value=""/>
    </div>
    <div class="clear"></div>
    <div class="related">
        <h2>@Resources.PopularArticlesTitle</h2>
        <a href="#" class="rss-feed"></a>
        <hr />
        @foreach(var post in Model.Posts.Where(p => p.IsTop))
        {
            <a href="#" class="related-item">
                <h3>09.06.2014</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lacinia id mi non porttitor. Donec.
                </p>
            </a>
        }
    </div>
    <div class="categories">
        <ul>
            <li>
                <a href="#">Электропитание</a>
            </li>
            <li>
                <a href="#">Компании</a>
            </li>
            <li>
                <a href="#">Крупные клиенты</a>
            </li>
            <li>
                <a href="#">Новинки</a>
            </li>
        </ul>
        <a href="#">&#x25BC; Все категории (25)</a>
    </div>
    <div class="all-tags">
        <h2>Основные теги</h2>
        <hr />
        <div class="tag">
            NetPing
        </div>
        <div class="tag active">
            SMS
        </div>
        <div class="tag">
            Устройство
        </div>
        <div class="tag">
            Клиент
        </div>
        <div class="tag active">
            Производство
        </div>
        <div class="tag">
            Интернет
        </div>
        <div class="tag">
            NetPing
        </div>
        <div class="tag">
            SMS
        </div>
        <div class="tag">
            Устройство
        </div>
        <div class="tag">
            Клиент
        </div>
        <div class="tag">
            Производство
        </div>
        <div class="tag">
            Интернет
        </div>
        <div class="clear"></div>
        <a href="#">&#x25BC; Все теги </a>
    </div>
    <input id="datepicker" type="text">
    <img src="" />
}

@section Under_menu{
    <div class="under-menu">
        <a href="#">
            Популярные статьи
        </a>
        <a href="#">
            Категории
        </a>
        <a href="#">
            Тэги
        </a>
        <a href="#">
            Календарь
        </a>
    </div>
    <div class="clear"></div>
}