@using Resources = NetPing_modern.Resources.Views.Blog.Main;

@model NetPing_modern.ViewModels.BlogViewModel
@{
    Layout = "~/Views/Shared/Blog_master.cshtml";
}

@section Head_Css {
    <link href="/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/blog.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Content/JavaScript/jquery.datetimepicker.js"></script>
    <script src="~/Content/JavaScript/blog.js"></script>
}

@section Content_left {
    @foreach(var post in Model.Posts)
    {

        <div class="blog-item">
            <a href="@post.Url">
                <div class="blog-item-header">
                    <div class="category-label">@post.Cathegory</div>
                    <span>@post.Created.ToShortDateString()</span>
                </div>
                <h1>
                    @post.Title
                </h1>
                @*<img src="https://netpingeastcoltd-public.sharepoint.com/Pub/Photos/Devices/_nping_bases_SMS_big.png" />*@
                <p>@Html.Raw(post.ShortBody)</p>
            </a>
            @*<ul class="tags">
                <li class="tag">
                    NetPing
                </li>
                <li class="tag">
                    SMS
                </li>
                <li class="tag">
                    Устройство
                </li>
            </ul>*@
            <div class="clear"></div>
            <hr />
        </div>

    }
}

@section Under_menu{
    <div class="under-menu">
        <a href="#">
            Популярные статьи
        </a>
        <a href="#">
            Категории
        </a>
        <a href="#">
            Тэги
        </a>
        <a href="#">
            Календарь
        </a>
    </div>
    <div class="clear"></div>
}