@model NetPing_modern.ViewModels.BlogViewModel
@using Resources = NetPing_modern.Resources.Views.Blog.Main;
@{
    Layout = "~/Views/Shared/Blog_master.cshtml";
}

@section Head_Css {
    <link href="/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/blog.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/jquery.datetimepicker.css" rel="stylesheet" />
}

@section Content_left{

    @if (Model.Post == null)
    {
        <div class="blog-item">

            <div class="blog-item-header">
                <div class="category-label">@Resources.ErrorTitle</div>
            </div>
            <h1>
                @Resources.ErrorPostDoesntExistMessage
            </h1>
        </div>
    }
    else
    {
        <div class="blog-item">

            <div class="blog-item-header">
                <div class="category-label">@Model.Post.Category.Name</div>
                <span>@Model.Post.Created.ToShortDateString()</span>
            </div>
            <h1>
                @Model.Post.Title
            </h1>

            @Html.Raw(Model.Post.Body)
            <hr />
            @*<ul class="tags">
                <li class="tag">
                    NetPing
                </li>
                <li class="tag">
                    SMS
                </li>
                <li class="tag">
                    Устройство
                </li>
            </ul>*@
        </div>
        @*<div class="comment-form">
            <h1>Оставить свой комментарий</h1>
            <form>
                <input type="text" placeholder="имя" />
                <input type="text" placeholder="e-mail" />
                <textarea placeholder="Ваше сообщение"></textarea>
                <input type="submit" value="Отправить" />
            </form>
            <div class="clear"></div>
        </div>
        <div class="comments">
            <h1>
                Комментарии
            </h1>
            <hr />
            @for (int i = 0; i < 3; i++)
            {
                <div class="comment">
                    <h3>Username</h3>
                    <span class="date">12 сентября 2014г.</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ligula sapien, aliquam id pellentesque sit amet, viverra ac ligula. Aenean at vulputate eros, vel pharetra orci. Aliquam tortor arcu, semper vitae libero nec, suscipit aliquet enim. Quisque eu lorem at sapien scelerisque auctor ut fermentum dui. Suspendisse scelerisque erat ante, non feugiat est commodo non. Nunc pretium lacus ut tincidunt sagittis. Aliquam erat volutpat. Cras gravida ligula dapibus porttitor pretium. Praesent quis mi vel velit fringilla ornare. Suspendisse laoreet sapien quis neque elementum tempor. Maecenas eu sapien vel nulla tempus suscipit vitae at mi. Pellentesque imperdiet tellus non justo laoreet, eu tincidunt felis scelerisque. Donec dignissim felis augue, consequat tincidunt orci porta quis. Donec fermentum consequat massa sit amet congue. Mauris tristique viverra tristique. Aenean efficitur euismod eros, sed ornare leo scelerisque eget.</p>
                </div>
            }
        </div>*@
    }
}

@section Under_menu{
    <div class="under-menu">
        <a href="#">
            Популярные статьи
        </a>
        <a href="#">
            Категории
        </a>
        <a href="#">
            Тэги
        </a>
        <a href="#">
            Календарь
        </a>
    </div>
    <div class="clear"></div>
}