
<!DOCTYPE HTML>
@using System.Globalization
@using NetPing.DAL
@using NetPing.Models
@using NetPing_modern.Resources.Views.Catalog

@model IEnumerable<Device>

    @section Head_Css {
        <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
    }


    
    @helper GetPrice(double? price)
{
    if (price != null && price > 0)
    {
        string str = string.Format(new CultureInfo(1035), "{0:N0} ", price);
        @str
    }
}
<html>
    <head>
        @{
            ViewBag.Title = Index.Page_title;
        }
        <title>@ViewBag.Title</title>
        <meta charset="utf-8">
        <link href="/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="~/Content/Themes/header-footer.css">
        <link rel="stylesheet" type="text/css" href="~/Content/Themes/CatalogPageStyle.css">

        <script src="~/Content/JavaScript/jquery1.8.3min.js"></script>
        <script src="~/Content/JavaScript/modernizr.js"></script>
        <script src="~/Content/JavaScript/main.js"></script>
    </head>
    <body>
        <div class="page">
            <div class="main">
                @RenderPage("../Shared/Header.cshtml")
                <div class="content">
                        @{
                            string titTitle = "";
                            string titDesc = "";
                            string[] names = null;
                            string[] links = null;
                            string desc1 = Index.Sec_monitoring_descr;
                            string desc2 = Index.Sec_power_descr;
                            string desc3 = Index.Sec_switch_descr;

                            string title1 = Index.Sec_monitoring;
                            string title2 = Index.Sec_power;
                            string title3 = Index.Sec_switch;

                            const string _nping_basesURL = "../../Content/Images/present_left_img1.png";
                            const string _nping_powerURL = "../../Content/Images/present_left_img2.png";
                            const string _swtchURL = "../../Content/Images/present_left_img3.png";
                            const string bgURL = "../../Content/Images/present_left.png";

                            string selectedSectionImage = "";
                            string section2ImgUrl = "";
                            string section3ImgUrl = "";

                            string s1 = "";
                            string l1 = "";
                            string s2 = "";
                            string l2 = "";
                            string t1 = "";
                            string t2 = "";
                            

                            switch ((string) ViewBag.id)
                            {
                                case "_nping_bases":
                                {
                                    selectedSectionImage = _nping_basesURL;
                                    section2ImgUrl = _nping_powerURL; 
                                    section3ImgUrl = _swtchURL; 

                                    titTitle = title1;
                                    titDesc = desc1;
                                    t1 = title2;
                                    t2 = title3;
                                    s1 = desc2;
                                    s2 = desc3;
                                    l1 = "?id=_nping_power";
                                    l2 = "?id=_swtch";
                                    names = new[] {Index.Sec_sub_devices, Index.Sec_sub_sensors, Index.Sec_sub_access, Index.Sec_sub_solutions};
                                    links = new[] {"_nping_bases", "_acces_sensr", "_acces_mains", "_solut_sensr"};
                                    break;
                                }
                                case "_nping_power":
                                {
                                    selectedSectionImage = _nping_powerURL;                                
                                    section2ImgUrl = _nping_basesURL;
                                    section3ImgUrl = _swtchURL; 

                                    titTitle = title2;
                                    titDesc = desc2;
                                    t1 = title1;
                                    t2 = title3;
                                    s1 = desc1;
                                    s2 = desc3;
                                    l1 = "?id=_nping_bases";
                                    l2 = "?id=_swtch";
                                    names = new[] { Index.Sec_sub_devices, Index.Sec_sub_sensors, Index.Sec_sub_access, Index.Sec_sub_solutions };
                                    links = new[] {"_nping_power", "_acces_sensr", "_acces_mains", "_solut_power"};
                                    break;
                                }
                                case "_swtch":
                                {
                                    selectedSectionImage = _swtchURL;
                                    section2ImgUrl = _nping_basesURL; 
                                    section3ImgUrl = _nping_powerURL; 

                                    titTitle = title3;
                                    titDesc = desc3;
                                    t1 = title1;
                                    t2 = title2;
                                    s1 = desc1;
                                    s2 = desc2;
                                    l1 = "?id=_nping_bases";
                                    l2 = "?id=_nping_power";
                                    names = new[] { Index.Sec_sub_devices, Index.Sec_sub_access, Index.Sec_sub_solutions };
                                    links = new[] {"_swtch", "_acces_mains","_solut_poe"};
                                    break;
                                }
                            }
                        }
                    <div class="wrapper clearfix">
                        <div class="left main catalog">
                            <div class="cat_tit" style="background: url(@bgURL) no-repeat; -ms-background-size: 100% 100%; background-size: 100% 100%">
                                <img class="sectionImage" src="@selectedSectionImage"/>
                                <div class="cat_tit_title">@Html.Raw(titTitle)</div>
                                <div class="cat_tit_desc">@Html.Raw(titDesc)</div>
                                <ul style="margin-top: 22px;">
                                    @{
                                        if (names != null)
                                        {
                                            for (int i = 0; i < names.Length; i++)
                                            {
                                                var link = String.Format("?id={0}&sub={1}", ViewBag.id, links[i]);
                                                if (i == 0 && String.IsNullOrWhiteSpace(ViewBag.sub) || links[i] != null && links[i].Equals(ViewBag.sub))
                                                {
                                                    <li id="selectedSection"><a href="@link">@names[i]</a></li>    
                                                }
                                                else
                                                {
                                                    <li><a href="@link">@names[i]</a></li>    
                                                }
                                                
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <!--
                            <a href="#" class="big_link pdf">Загрузить каталог продукции в PDF</a>
                            <a href="#" class="big_link cart">Задать вопрос или заказать устройство</a>
                            -->
                        </div>

                        <div class="right main catalog">
                            <div class="catalog_sub clearfix">
                                <a href="@l1"><img src="@section2ImgUrl" class="sectionImage"/><span class="title">@Html.Raw(t1)</span><span class="desc">@s1</span></a>
                                <a href="@l2"><img src="@section3ImgUrl" class="sectionImage"/><span class="title">@Html.Raw(t2)</span><span class="desc">@s2</span></a>
                            </div>

                            <div class="catalog_cat_tit clearfix">
                                <div class="left"><img src="@selectedSectionImage" style="width: 45px; height: 45px" alt="" title="" /></div>
                                <div class="right">@titTitle.Replace("<br/>", " ")</div>
                            </div>

                            @foreach (Device device in Model)
                            {
                                string link="/product_item.aspx?id=" + @device.Key;
                                <div class="cat_item">
                                        
                                    <div style="display: none">
                                        <p class="Price">
                                            @device.Price
                                        </p>
                                        <p class="ID">
                                            @device.Name.Id
                                        </p>
                                        <p class="Key">
                                            @device.Key.Replace("#", "")
                                        </p>
                                        <p class="Name">
                                            @device.Name.Name
                                        </p>
                                        <p class="PhotoURL">
                                            @{
                                var photo1 = device.DevicePhotos.FirstOrDefault(p => p.IsBig);
                                if (photo1 != null)
                                {
                                    @photo1.Url;
                                }
                                            }
                                        </p>
                                    </div>    

                                        <div class="desc clearfix cat_pr" onclick="window.location.href='@link'">
                                        <div class="left"><img class="size_140_140" src="@device.GetCoverPhoto(true).Url" alt="" title="" /></div>

                                            <div class="right">
                                                <a href="@link" class="title">@device.Name.Name</a>
                                                <div class="text">
                                                    <p> @Html.Raw(device.Short_description)</p>
                                                </div>
                                            </div>                                  
                                        </div> 

                                    <div class="action clearfix">
                                        @{
                                            string className = "new";
                                            if (!String.IsNullOrWhiteSpace(device.Label.Name))
                                            {
                                                switch (device.Label.OwnNameFromPath)
                                                {
                                                    case "New":
                                                    {
                                                        className = "new";
                                                        break;
                                                    }
                                                    case "EOL":
                                                    {
                                                        className = "eol";
                                                        break;
                                                    }
                                                    case "Archive":
                                                    {
                                                        className = "archive";
                                                        break;
                                                    }
                                                }
                                                <div class="type left"><span class="@className">@device.Label.Name</span></div>
                                            }
                                            else
                                            {
                                                <div style="visibility: hidden" class="type left"><span class="@className">@device.Label.Name</span></div>
                                            }
                                        }
                                        <!--
                                        <div class="compare left">
                                            <form action="/" method="POST" class="clearfix">
                                                <div class="left"><input type="checkbox" disabled name="compare" /><label>@Index.Txt_compare_dev</label></div>
                                                <div><input type="submit" disabled value="@Index.Txt_compare"/></div>
                                            </form>
                                        </div>
                                            -->
                                        <div class="price right"><span>@GetPrice(device.Price)@device.GetCurrency</span></div>
                                    </div>
                                </div>
                                
                            }
                        </div>

                    </div>
                </div>
                @RenderPage("../Shared/Footer.cshtml")
                @RenderPage("../Shared/cart.cshtml")


            </div>
        </div>
        <script> </script>
    </body>
</html>
